<div class="book-list">
    <div class="header">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="358" height="318" viewBox="0 0 358 318">
                <path fill="#00A3DA" fill-rule="nonzero"
                      d="M186.44 71.018a4.763 4.763 0 0 0-.86.358l-6.93 3.593-6.919-3.612a4.457 4.457 0 0 0-.825-.341L30 30.673v207.714c0 3.07 3.239 7.367 6.186 8.21l141.162 40.419.952.563 1.71-.564 1.849-.53 139.311-39.888c2.948-.844 6.187-5.14 6.187-8.21V30.673L186.441 71.018zm-7.785 216.798l.023.01.024-.01-.023-.014-.024.014zm.022-245.78l142.47-40.79A31.217 31.217 0 0 1 329.798 0c15.81 0 27.559 12.403 27.559 28.519v209.868c0 16.456-12.109 32.522-27.93 37.051L191.59 314.905c-3.718 1.787-7.82 2.705-12.054 2.705-1.142-.004-1.428 0-1.715 0-4.232 0-8.335-.918-12.052-2.705l-137.84-39.467C12.108 270.908 0 254.842 0 238.387V28.519C0 12.402 11.74 0 27.557 0c2.889 0 5.79.42 8.629 1.24l142.491 40.796zm38.733 63.472a4.37 4.37 0 0 1-1.201-8.573l86.472-24.763a4.37 4.37 0 1 1 2.407 8.402l-86.473 24.764c-.402.115-.807.17-1.205.17m0 91.494a4.37 4.37 0 0 1-1.199-8.572l86.47-24.755a4.37 4.37 0 0 1 2.405 8.403l-86.471 24.754c-.402.115-.807.17-1.205.17m0-46.089a4.371 4.371 0 0 1-1.201-8.57l86.472-24.757a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.414 4.414 0 0 1-1.205.17m0 91.922a4.37 4.37 0 0 1-1.201-8.573l86.472-24.756a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.379 4.379 0 0 1-1.205.171M139.94 105.508a4.37 4.37 0 0 0 1.201-8.573L54.669 72.172a4.37 4.37 0 1 0-2.406 8.402l86.473 24.764c.402.115.806.17 1.205.17m0 91.494a4.37 4.37 0 0 0 1.199-8.572l-86.471-24.755a4.37 4.37 0 0 0-2.404 8.403l86.471 24.754c.402.115.806.17 1.205.17m0-46.089a4.371 4.371 0 0 0 1.201-8.57l-86.473-24.757a4.37 4.37 0 1 0-2.406 8.402l86.473 24.756c.402.114.806.17 1.205.17m0 91.922a4.371 4.371 0 0 0 1.201-8.573l-86.473-24.756a4.37 4.37 0 0 0-2.406 8.402l86.473 24.756c.402.115.806.171 1.205.171M163.674 58.06h30v244.523h-30V58.06z"></path>
            </svg>
        </div>
        <h3>Boekenlijst</h3>
    </div>
    <div class="book-container">
        <!-- Load Items -->
    </div>
    <div class="available modal fade" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col">
                        <div class="header">
                            <h2>Geweldig!</h2>
                        </div>
                        <div class="info">
                            Mooi dat je dit boek wilt lezen. Kijk hieronder of je hem bij je eigen OBA locatie kan
                            lenen.
                        </div>
                        <div class="header">
                            <div class="icon">
                                <i class="far fa-check-circle fa-2x"></i>
                            </div>
                            <h2>Beschikbaarheid:</h2>
                        </div>
                        <div class="available-locations">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="questions modal fade" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col">
                        <div class="header">
                            <h2>Vragen toevoegen</h2>
                        </div>
                        <form>
                            <input hidden type="text" name="book-id">
                            <input hidden type="text" name="book-title">
                            <input hidden type="text" name="book-desc">
                            <input hidden type="text" name="book-img">
                        <div class="question">
                            <div class="form-group">
                                <label for="question1">Vraag 1</label>
                                <input class="form-control" type="text" name="question1" id="question1" required>
                            </div>
                            <div class="form-group">
                                <label for="answer1a">Optie A</label>
                                <input class="form-control" type="text" name="answer1a" id="answer1a" required>
                            </div>
                            <div class="form-group">
                                <label for="answer1b">Optie B</label>
                                <input class="form-control" type="text" name="answer1b" id="answer1b" required>
                            </div>
                            <div class="form-group">
                                <label for="answer1c">Optie C</label>
                                <input class="form-control" type="text" name="answer1c" id="answer1c" required>
                            </div>
                            <h6>Antwoord</h6>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer1" id="correctAnswer1a" class="form-check-input" value="A" required>
                                <label class="form-check-label" for="correctAnswer1a">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer1" id="correctAnswer1b" class="form-check-input" value="B">
                                <label class="form-check-label" for="correctAnswer1b">B</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer1" id="correctAnswer1c" class="form-check-input" value="C">
                                <label class="form-check-label" for="correctAnswer1c">C</label>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <div class="form-group">
                                <label for="question2">Vraag 2</label>
                                <input class="form-control" type="text" name="question2" id="question2" required>
                            </div>
                            <div class="form-group">
                                <label for="answer2a">Optie A</label>
                                <input class="form-control" type="text" name="answer2a" id="answer2a" required>
                            </div>
                            <div class="form-group">
                                <label for="answer2b">Optie B</label>
                                <input class="form-control" type="text" name="answer2b" id="answer2b" required>
                            </div>
                            <div class="form-group">
                                <label for="answer2c">Optie C</label>
                                <input class="form-control" type="text" name="answer2c" id="answer2c" required>
                            </div>
                            <h6>Antwoord</h6>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer2" id="correctAnswer2a" class="form-check-input" value="A" required>
                                <label class="form-check-label" for="correctAnswer2a">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer2" id="correctAnswer2b" class="form-check-input" value="B">
                                <label class="form-check-label" for="correctAnswer2b">B</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer2" id="correctAnswer2c" class="form-check-input" value="C">
                                <label class="form-check-label" for="correctAnswer2c">C</label>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <div class="form-group">
                                <label for="question3">Vraag 3</label>
                                <input class="form-control" type="text" name="question3" id="question3" required>
                            </div>
                            <div class="form-group">
                                <label for="answer3a">Optie A</label>
                                <input class="form-control" type="text" name="answer3a" id="answer3a" required>
                            </div>
                            <div class="form-group">
                                <label for="answer3b">Optie B</label>
                                <input class="form-control" type="text" name="answer3b" id="answer3b" required>
                            </div>
                            <div class="form-group">
                                <label for="answer3c">Optie C</label>
                                <input class="form-control" type="text" name="answer3c" id="answer3c" required>
                            </div>
                            <h6>Antwoord</h6>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer3" id="correctAnswer3a" class="form-check-input" value="A" required>
                                <label class="form-check-label" for="correctAnswer3a">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer3" id="correctAnswer3b" class="form-check-input" value="B">
                                <label class="form-check-label" for="correctAnswer3b">B</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="correctAnswer3" id="correctAnswer3c" class="form-check-input" value="C">
                                <label class="form-check-label" for="correctAnswer3c">C</label>
                            </div>
                        </div>
                            <input class="btn btn-primary" type="submit" value="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>