<nav class="navbar fixed-top">
    <a href="#" class="navbar-brand">
        <span class="purple">B</span>
        <span class="blue">o</span>
        <span class="green">e</span>
        <span class="pink">k</span>
        <span class="purple">s</span>
        <span class="pink">n</span>
        <span class="blue">o</span>
        <span class="purple">e</span>
        <span class="green">p</span>
        <span class="pink">e</span>
        <span class="blue">r</span>
        <span class="green">s</span>
    </a>
    <div class="navbar-header pull-right">
        <a href="#" class="navbar-item" data-controller="books">
            Boeken
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="358" height="318" viewBox="0 0 358 318">
                    <path fill="#00A3DA" fill-rule="nonzero"
                          d="M186.44 71.018a4.763 4.763 0 0 0-.86.358l-6.93 3.593-6.919-3.612a4.457 4.457 0 0 0-.825-.341L30 30.673v207.714c0 3.07 3.239 7.367 6.186 8.21l141.162 40.419.952.563 1.71-.564 1.849-.53 139.311-39.888c2.948-.844 6.187-5.14 6.187-8.21V30.673L186.441 71.018zm-7.785 216.798l.023.01.024-.01-.023-.014-.024.014zm.022-245.78l142.47-40.79A31.217 31.217 0 0 1 329.798 0c15.81 0 27.559 12.403 27.559 28.519v209.868c0 16.456-12.109 32.522-27.93 37.051L191.59 314.905c-3.718 1.787-7.82 2.705-12.054 2.705-1.142-.004-1.428 0-1.715 0-4.232 0-8.335-.918-12.052-2.705l-137.84-39.467C12.108 270.908 0 254.842 0 238.387V28.519C0 12.402 11.74 0 27.557 0c2.889 0 5.79.42 8.629 1.24l142.491 40.796zm38.733 63.472a4.37 4.37 0 0 1-1.201-8.573l86.472-24.763a4.37 4.37 0 1 1 2.407 8.402l-86.473 24.764c-.402.115-.807.17-1.205.17m0 91.494a4.37 4.37 0 0 1-1.199-8.572l86.47-24.755a4.37 4.37 0 0 1 2.405 8.403l-86.471 24.754c-.402.115-.807.17-1.205.17m0-46.089a4.371 4.371 0 0 1-1.201-8.57l86.472-24.757a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.414 4.414 0 0 1-1.205.17m0 91.922a4.37 4.37 0 0 1-1.201-8.573l86.472-24.756a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.379 4.379 0 0 1-1.205.171M139.94 105.508a4.37 4.37 0 0 0 1.201-8.573L54.669 72.172a4.37 4.37 0 1 0-2.406 8.402l86.473 24.764c.402.115.806.17 1.205.17m0 91.494a4.37 4.37 0 0 0 1.199-8.572l-86.471-24.755a4.37 4.37 0 0 0-2.404 8.403l86.471 24.754c.402.115.806.17 1.205.17m0-46.089a4.371 4.371 0 0 0 1.201-8.57l-86.473-24.757a4.37 4.37 0 1 0-2.406 8.402l86.473 24.756c.402.114.806.17 1.205.17m0 91.922a4.371 4.371 0 0 0 1.201-8.573l-86.473-24.756a4.37 4.37 0 0 0-2.406 8.402l86.473 24.756c.402.115.806.171 1.205.171M163.674 58.06h30v244.523h-30V58.06z"></path>
                </svg>
            </div>
        </a>
        <a href="#" class="navbar-item" data-controller="profile">
            <span class="name"></span>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" width="100%" height="100%">
                    <path fill="#00A3DA" fill-rule="nonzero"
                          d="M149.92 98.41v46.464a5.048 5.048 0 0 1-5.05 5.045H68.05A5.048 5.048 0 0 1 63 144.874V98.41c0-17.058 10.382-32.184 25.927-38.512 8.026-3.906 26.626-3.811 34.99-.031 15.586 6.31 26.004 21.457 26.004 38.543zm-10.205-.09c0-12.972-7.928-24.468-19.782-29.227a5.055 5.055 0 0 1-.236-.102c-5.642-2.606-21.406-2.675-26.508-.082a5.055 5.055 0 0 1-.407.184C80.927 73.851 73 85.347 73 98.32v41.419h66.715v-41.42zm-9.663-64.823C130.052 20.52 119.518 10 106.526 10 93.533 10 83 20.52 83 33.497c0 12.976 10.533 23.497 23.526 23.497 12.992 0 23.526-10.522 23.526-23.497zm10.206.09c0 18.548-15.058 33.587-33.63 33.587C88.057 67.174 73 52.135 73 33.587 73 15.037 88.056 0 106.629 0c18.572 0 33.63 15.038 33.63 33.587zm-67.076 63.32v34.218a5.048 5.048 0 0 1-5.052 5.045H5.051A5.048 5.048 0 0 1 0 131.125V96.906c0-14.367 8.74-27.11 21.826-32.449 6.854-3.311 22.349-3.23 29.456-.03 13.127 5.32 21.9 18.084 21.9 32.48zm-10.206-.09c0-10.282-6.283-19.394-15.675-23.163a5.055 5.055 0 0 1-.238-.103c-4.387-2.027-17.042-2.081-20.98-.081a5.055 5.055 0 0 1-.406.184C16.283 77.424 10 86.535 10 96.816v29.174h52.976V96.816zm2.06-53.336c0 15.731-12.767 28.482-28.518 28.482C20.767 71.963 8 59.213 8 43.48 8 27.751 20.767 15 36.518 15c15.75 0 28.518 12.751 28.518 28.481zm-10.206-.09C54.83 33.234 46.586 25 36.415 25S18 33.234 18 43.391c0 10.158 8.243 18.391 18.415 18.391 10.171 0 18.415-8.233 18.415-18.39z"></path>
                </svg>
            </div>
        </a>
        <a href="#" class="navbar-item" data-controller="logout">
            Uitloggen
            <div class="icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 358 318"
                     style="enable-background:new 0 0 358 318;" xml:space="preserve"><style type="text/css">.st0 {
                    fill: #00A3DA;
                }</style>
                    <g><path class="st0" d="M261,101.5L261,101.5c-2-2.5-5.1-3.9-8.3-3.9c-5.8,0.1-10.5,4.8-10.4,10.6c0,2.5,0.9,4.9,2.6,6.7 c6.1,7.3,10.3,18,10.3,29.9c0,11.9-4.1,22.5-10.3,29.9c-3.8,4.4-3.3,11,1.2,14.8c4.4,3.8,11,3.3,14.8-1.2c0.1-0.1,0.1-0.1,0.2-0.2 c9.5-11.4,15.2-26.7,15.2-43.4C276.2,128.2,270.5,112.9,261,101.5z"></path>
                        <path class="st0"
                              d="M289,69.2c-2-2.5-5.1-3.9-8.3-3.8c-5.8,0.1-10.4,4.9-10.3,10.7c0.1,2.5,1,4.9,2.6,6.7 c13.3,15.6,21.8,37.6,21.8,62.1c0,24.5-8.5,46.5-21.8,62.1c-3.8,4.4-3.4,11,1,14.8c4.4,3.8,11,3.4,14.8-1c0.1-0.1,0.1-0.2,0.2-0.2 c16.7-19.7,26.8-46.4,26.8-75.7C315.8,115.5,305.7,88.8,289,69.2z"></path>
                        <polygon class="st0" points="280.7,65.4 280.7,65.4 280.7,65.4 	"></polygon>
                        <path class="st0"
                              d="M102.9,144.9c0-11.9,4.1-22.5,10.3-29.9c3.8-4.4,3.3-11-1.2-14.8c-4.4-3.8-11-3.3-14.8,1.2 c-0.1,0.1-0.1,0.1-0.2,0.2c-9.5,11.4-15.2,26.7-15.2,43.4c0,16.7,5.6,32,15.2,43.4l0,0c2,2.5,5.1,3.9,8.3,3.9 c5.8-0.1,10.5-4.8,10.4-10.6c0-2.5-0.9-4.9-2.6-6.7C107,167.5,102.9,156.8,102.9,144.9z"></path>
                        <path class="st0"
                              d="M63.3,144.9c0-24.5,8.5-46.5,21.8-62.1c3.8-4.4,3.4-11-1-14.8c-4.4-3.8-11-3.4-14.8,1 c-0.1,0.1-0.1,0.2-0.2,0.2c-16.7,19.7-26.8,46.4-26.8,75.7c0,29.4,10.1,56.1,26.8,75.7c2,2.5,5.1,3.9,8.3,3.8 c5.8-0.1,10.4-4.9,10.3-10.7c-0.1-2.5-1-4.9-2.6-6.7C71.8,191.4,63.3,169.4,63.3,144.9z"></path>
                        <polygon class="st0" points="77.3,224.5 77.3,224.5 77.3,224.5 	"></polygon>
                        <path class="st0"
                              d="M179,240.8c-21.3,0-38.6,17.3-38.6,38.6S157.7,318,179,318c21.3,0,38.6-17.3,38.6-38.6S200.3,240.8,179,240.8z M179,297.1c-9.8,0-17.7-7.9-17.7-17.7c0-9.8,7.9-17.7,17.7-17.7s17.7,7.9,17.7,17.7C196.7,289.1,188.8,297.1,179,297.1z"></path>
                        <path class="st0"
                              d="M179,223.9c18.4,0,33.3-14.9,33.3-33.3V33.3C212.3,14.9,197.4,0,179,0s-33.3,14.9-33.3,33.3v157.3 C145.7,209,160.6,223.9,179,223.9z M166.6,33.3c0-6.8,5.6-12.4,12.4-12.4s12.4,5.6,12.4,12.4v157.3c0,6.8-5.6,12.4-12.4,12.4 s-12.4-5.6-12.4-12.4V33.3z"></path></g>
                </svg>
            </div>
        </a>
    </div>
</nav>