<div class="profile-card">
    <div class="image-container">
        <img src="assets/img/user.jpeg" style="width:100%">
        <div class="title">
            <h2> Bob Knoopjes </h2>
        </div>

        <div class="profile-container">

            <p><i class="fas fa-school"></i> School: De Windroos </p>
            <p><i class="fas fa-users"></i> Groep: 5</p>
            <p><i class="fas fa-chalkboard-teacher"></i> Docent: Juf Roosjes </p>

            <hr>
            <p><b><i class="fas fa-asterisk info"></i>Score van de klas </b></p>

            <section class="scoreboard-box">
                <pre> <strong> RANG       NAAM                      SCORE</strong> </pre>
                <pre class="scoreboard-list"> 1.                     Tommy Besjes                            (5) </pre>
                <pre class="scoreboard-list current"> 2.                     Bob Knoopjes                            (4) </pre>
                <pre class="scoreboard-list"> 3.                     Chantal Hartjes                          (4) </pre>
                <pre class="scoreboard-list"> 4.                     Klaas Burgers                             (3) </pre>
                <pre class="scoreboard-list"> 5.                     Bob Knoopjes                            (2) </pre>
                <pre class="scoreboard-list"> 6.                     Roderick van Pasjes                   (1) </pre>
                <br>
            </section>

            <!--
            <p> Totaal alle gelezen boeken </p>
            <div class="skill-bar">
                <div class="progress-bar" style="width: 10%">1/10</div>
            </div>

            <p> Progressie van de klas </p>
            <div class="skill-bar">
                <div class="progress-bar" style="width: 30%">3/10</div>
            </div>

            -->

            <hr>
            <p><b><i class="fas fa-certificate"></i> Behaalde badges </b></p>
            <img src="assets/img/example-badges.JPG" style="width:100%">
        </div>
    </div>
</div>