<div class="profile">
    <div class="user-info">
        <div class="header">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" width="100%" height="100%">
                    <path fill="#00000" fill-rule="nonzero"
                          d="M149.92 98.41v46.464a5.048 5.048 0 0 1-5.05 5.045H68.05A5.048 5.048 0 0 1 63 144.874V98.41c0-17.058 10.382-32.184 25.927-38.512 8.026-3.906 26.626-3.811 34.99-.031 15.586 6.31 26.004 21.457 26.004 38.543zm-10.205-.09c0-12.972-7.928-24.468-19.782-29.227a5.055 5.055 0 0 1-.236-.102c-5.642-2.606-21.406-2.675-26.508-.082a5.055 5.055 0 0 1-.407.184C80.927 73.851 73 85.347 73 98.32v41.419h66.715v-41.42zm-9.663-64.823C130.052 20.52 119.518 10 106.526 10 93.533 10 83 20.52 83 33.497c0 12.976 10.533 23.497 23.526 23.497 12.992 0 23.526-10.522 23.526-23.497zm10.206.09c0 18.548-15.058 33.587-33.63 33.587C88.057 67.174 73 52.135 73 33.587 73 15.037 88.056 0 106.629 0c18.572 0 33.63 15.038 33.63 33.587zm-67.076 63.32v34.218a5.048 5.048 0 0 1-5.052 5.045H5.051A5.048 5.048 0 0 1 0 131.125V96.906c0-14.367 8.74-27.11 21.826-32.449 6.854-3.311 22.349-3.23 29.456-.03 13.127 5.32 21.9 18.084 21.9 32.48zm-10.206-.09c0-10.282-6.283-19.394-15.675-23.163a5.055 5.055 0 0 1-.238-.103c-4.387-2.027-17.042-2.081-20.98-.081a5.055 5.055 0 0 1-.406.184C16.283 77.424 10 86.535 10 96.816v29.174h52.976V96.816zm2.06-53.336c0 15.731-12.767 28.482-28.518 28.482C20.767 71.963 8 59.213 8 43.48 8 27.751 20.767 15 36.518 15c15.75 0 28.518 12.751 28.518 28.481zm-10.206-.09C54.83 33.234 46.586 25 36.415 25S18 33.234 18 43.391c0 10.158 8.243 18.391 18.415 18.391 10.171 0 18.415-8.233 18.415-18.39z"></path>
                </svg>
            </div>
            <h4>Profiel</h4>
        </div>
        <div class="profile-picture">
            <div class="image-container">
                <img src="" alt="">
            </div>
            <div class="highest_place">
                <img src="" alt="">
            </div>
        </div>
        <div class="profile-info">
            <h2 class="name"></h2>
            <h5><i class="fas fa-school"></i> School: <span>De Windroos</span></h5>
            <h5><i class="fas fa-users"></i> Groep: <span class="group"></span></h5>
            <h5><i class="fas fa-chalkboard-teacher"></i> Docent: <span class="teacher"></span></h5>
        </div>
        <hr>
        <div class="read-books-container">
            <div class="header">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="358" height="318" viewBox="0 0 358 318">
                        <path fill="#00A3DA" fill-rule="nonzero"
                              d="M186.44 71.018a4.763 4.763 0 0 0-.86.358l-6.93 3.593-6.919-3.612a4.457 4.457 0 0 0-.825-.341L30 30.673v207.714c0 3.07 3.239 7.367 6.186 8.21l141.162 40.419.952.563 1.71-.564 1.849-.53 139.311-39.888c2.948-.844 6.187-5.14 6.187-8.21V30.673L186.441 71.018zm-7.785 216.798l.023.01.024-.01-.023-.014-.024.014zm.022-245.78l142.47-40.79A31.217 31.217 0 0 1 329.798 0c15.81 0 27.559 12.403 27.559 28.519v209.868c0 16.456-12.109 32.522-27.93 37.051L191.59 314.905c-3.718 1.787-7.82 2.705-12.054 2.705-1.142-.004-1.428 0-1.715 0-4.232 0-8.335-.918-12.052-2.705l-137.84-39.467C12.108 270.908 0 254.842 0 238.387V28.519C0 12.402 11.74 0 27.557 0c2.889 0 5.79.42 8.629 1.24l142.491 40.796zm38.733 63.472a4.37 4.37 0 0 1-1.201-8.573l86.472-24.763a4.37 4.37 0 1 1 2.407 8.402l-86.473 24.764c-.402.115-.807.17-1.205.17m0 91.494a4.37 4.37 0 0 1-1.199-8.572l86.47-24.755a4.37 4.37 0 0 1 2.405 8.403l-86.471 24.754c-.402.115-.807.17-1.205.17m0-46.089a4.371 4.371 0 0 1-1.201-8.57l86.472-24.757a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.414 4.414 0 0 1-1.205.17m0 91.922a4.37 4.37 0 0 1-1.201-8.573l86.472-24.756a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.379 4.379 0 0 1-1.205.171M139.94 105.508a4.37 4.37 0 0 0 1.201-8.573L54.669 72.172a4.37 4.37 0 1 0-2.406 8.402l86.473 24.764c.402.115.806.17 1.205.17m0 91.494a4.37 4.37 0 0 0 1.199-8.572l-86.471-24.755a4.37 4.37 0 0 0-2.404 8.403l86.471 24.754c.402.115.806.17 1.205.17m0-46.089a4.371 4.371 0 0 0 1.201-8.57l-86.473-24.757a4.37 4.37 0 1 0-2.406 8.402l86.473 24.756c.402.114.806.17 1.205.17m0 91.922a4.371 4.371 0 0 0 1.201-8.573l-86.473-24.756a4.37 4.37 0 0 0-2.406 8.402l86.473 24.756c.402.115.806.171 1.205.171M163.674 58.06h30v244.523h-30V58.06z"></path>
                    </svg>
                </div>
                <h3>Gelezen Boeken</h3>
            </div>
            <div class="books"></div>
        </div>
    </div>
    <div class="scoreboard">
        <div class="new-books-container">
            <div class="header">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="358" height="318" viewBox="0 0 358 318">
                        <path fill="#00A3DA" fill-rule="nonzero"
                              d="M186.44 71.018a4.763 4.763 0 0 0-.86.358l-6.93 3.593-6.919-3.612a4.457 4.457 0 0 0-.825-.341L30 30.673v207.714c0 3.07 3.239 7.367 6.186 8.21l141.162 40.419.952.563 1.71-.564 1.849-.53 139.311-39.888c2.948-.844 6.187-5.14 6.187-8.21V30.673L186.441 71.018zm-7.785 216.798l.023.01.024-.01-.023-.014-.024.014zm.022-245.78l142.47-40.79A31.217 31.217 0 0 1 329.798 0c15.81 0 27.559 12.403 27.559 28.519v209.868c0 16.456-12.109 32.522-27.93 37.051L191.59 314.905c-3.718 1.787-7.82 2.705-12.054 2.705-1.142-.004-1.428 0-1.715 0-4.232 0-8.335-.918-12.052-2.705l-137.84-39.467C12.108 270.908 0 254.842 0 238.387V28.519C0 12.402 11.74 0 27.557 0c2.889 0 5.79.42 8.629 1.24l142.491 40.796zm38.733 63.472a4.37 4.37 0 0 1-1.201-8.573l86.472-24.763a4.37 4.37 0 1 1 2.407 8.402l-86.473 24.764c-.402.115-.807.17-1.205.17m0 91.494a4.37 4.37 0 0 1-1.199-8.572l86.47-24.755a4.37 4.37 0 0 1 2.405 8.403l-86.471 24.754c-.402.115-.807.17-1.205.17m0-46.089a4.371 4.371 0 0 1-1.201-8.57l86.472-24.757a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.414 4.414 0 0 1-1.205.17m0 91.922a4.37 4.37 0 0 1-1.201-8.573l86.472-24.756a4.37 4.37 0 0 1 2.407 8.402l-86.473 24.756a4.379 4.379 0 0 1-1.205.171M139.94 105.508a4.37 4.37 0 0 0 1.201-8.573L54.669 72.172a4.37 4.37 0 1 0-2.406 8.402l86.473 24.764c.402.115.806.17 1.205.17m0 91.494a4.37 4.37 0 0 0 1.199-8.572l-86.471-24.755a4.37 4.37 0 0 0-2.404 8.403l86.471 24.754c.402.115.806.17 1.205.17m0-46.089a4.371 4.371 0 0 0 1.201-8.57l-86.473-24.757a4.37 4.37 0 1 0-2.406 8.402l86.473 24.756c.402.114.806.17 1.205.17m0 91.922a4.371 4.371 0 0 0 1.201-8.573l-86.473-24.756a4.37 4.37 0 0 0-2.406 8.402l86.473 24.756c.402.115.806.171 1.205.171M163.674 58.06h30v244.523h-30V58.06z"></path>
                    </svg>
                </div>
                <h4>Niet gelezen boeken</h4>
            </div>
            <div class="info">
                Kies één van deze twee boeken of ga naar de boekenlijst via de knop hieronder.
                <br>
                <button class="btn btn-primary all-books">Alle Boeken</button>
            </div>
            <div class="books"></div>
        </div>
        <div class="header">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                     viewBox="0 0 358 318">
                    <g fill="#000000" fill-rule="evenodd">
                        <path data-v-0171850c="" fill-rule="nonzero"
                              d="M241.51 318H22.875C10.255 318 0 307.941 0 295.558V22.451C0 10.067 10.257 0 22.875 0H241.51c12.616 0 22.865 10.066 22.865 22.451v273.107c0 12.385-10.247 22.442-22.865 22.442zM25.875 292.604H238.51l-.01-267.208H25.875v267.208z"></path>
                        <path data-v-0171850c="" fill-rule="nonzero"
                              d="M58.54 66c-1.7 0-3.4-.72-4.643-1.897C52.719 62.86 52 61.16 52 59.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644C61.942 65.281 60.242 66 58.54 66z"></path>
                        <rect data-v-0171850c="" width="120" height="10" x="93" y="55" rx="5"></rect>
                        <path data-v-0171850c="" fill-rule="nonzero"
                              d="M58.54 116c-1.7 0-3.4-.72-4.643-1.897C52.719 112.86 52 111.16 52 109.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897zM58.54 166c-1.7 0-3.4-.72-4.643-1.897C52.719 162.86 52 161.16 52 159.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897zM58.54 216c-1.7 0-3.4-.72-4.643-1.897C52.719 212.86 52 211.16 52 209.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897zM58.54 266c-1.7 0-3.4-.72-4.643-1.897C52.719 262.86 52 261.16 52 259.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897z"></path>
                        <rect data-v-0171850c="" width="120" height="10" x="93" y="105" rx="5"></rect>
                        <rect data-v-0171850c="" width="120" height="10" x="93" y="155" rx="5"></rect>
                        <rect data-v-0171850c="" width="120" height="10" x="93" y="205" rx="5"></rect>
                        <rect data-v-0171850c="" width="120" height="10" x="93" y="255" rx="5"></rect>
                    </g>
                </svg>
            </div>
            <h3>Scorebord</h3>
            <span class="days-left"></span>
        </div>
        <div class="scoreboard-container table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Rang</th>
                    <th>Naam</th>
                    <th>Punten</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>