<div class="quiz-container">
    <div class="header">
        <h3></h3>
    </div>
    <div class="quiz">
        <div class="start">
            <button id="start" type="button" class="btn btn-success">Start Quiz</button>
        </div>
        <div class="score hide">
            <div class="score-content">
                <p><span></span> je hebt <span class="percentage"></span> behaald</p>
                <img src="../src/assets/img/score/1.png" alt="mm">
                <p>Hierdoor heb je <span class="points"></span> punt(en) verdiend!</p>
                <p>Ga naar de <b>boekenlijst</b> om nog een boek te lezen of ga naar je <b>profiel</b> om te kijken op welke plek je staat</p>
                <div class="buttons">
                    <button id="books" type="button" class="btn btn-success">Boeken</button>
                    <button id="profile" type="button" class="btn btn-danger">Profiel</button>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="quiz-img">
                <img src="../src/assets/img/books/boek1.jpg" alt="">
            </div>
            <div class="timer">
                <div class="counter"></div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="question">
                <h3>q?</h3>
            </div>
            <div class="choices">
                <div class="choice" id="A"></div>
                <div class="choice" id="B"></div>
                <div class="choice" id="C"></div>
            </div>
            <div class="quiz-progress">
                <div class="prog"></div>
                <div class="prog"></div>
                <div class="prog"></div>
            </div>
        </div>
    </div>
</div>