<div class="welcome-container">
    <h1>Welkom bij</h1>
    <h2>
        <span class="purple">B</span>
        <span class="blue">o</span>
        <span class="green">e</span>
        <span class="pink">k</span>
        <span class="purple">s</span>
        <span class="pink">n</span>
        <span class="blue">o</span>
        <span class="purple">e</span>
        <span class="green">p</span>
        <span class="pink">e</span>
        <span class="blue">r</span>
        <span class="green">s</span>
    </h2>
    <h5>Hier kun je badges winnen als jij de beste lezer bent!</h5>
    <h5>Kan jij snel lezen?</h5>
    <h5>Houd jij van snoepen?</h5>
    <h5>Ben jij goed in onthouden en wil jij een winnaar zijn?</h5>
    <h5>Klik dan snel op de knop hieronder en begin met lezen!</h5>
    <button class="login-btn btn btn-success btn-lg">Begin met lezen!</button>
    <div class="badges">
        <img src="assets/img/badges/badge_1.png" alt="badge1">
        <img src="assets/img/badges/badge_2.png" alt="badge2">
        <img src="assets/img/badges/badge_3.png" alt="badge3">
        <img src="assets/img/badges/badge_4.png" alt="badge4">
        <img src="assets/img/badges/badge_5.png" alt="badge5">
    </div>
    <div class="modal fade" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col">
                        <div class="header">
                            <h2>Login</h2>
                        </div>
                        <div class="login-content">
                            <div class="error"></div>
                            <label for="username">Gebruikersnaam</label>
                            <input type="text" name="username" class="form-control" id="username">
                            <label for="password">Wachtwoord</label>
                            <input type="password" name="password" class="form-control" id="password">
                            <button class="btn btn-primary">Inloggen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>