body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;
}

nav {
    height: 80px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
    border: 0.5px solid #eee;
}

nav a {
    color: rgb(0, 163, 218);
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

nav a .icon {
    display: inline-block;
}

.navbar-brand span{
    margin-left: -5px;
    font-size: 1.5rem;
}

.welcome-container h2 {
    margin-left:  5px;
}

.welcome-container span {
    margin-left: -8px;
    font-weight: bold;
    font-size: 2.5rem;
}

.welcome-container .badges{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.welcome-container .badges img {
    width: 175px;
    height: 175px;
}

hr {
    width: 100%;
}

.purple .image-container {
    background-color: #812c7c;
}

.green .image-container {
    background-color: #009949;
}

.pink .image-container {
    background-color: #d8127d;
}

.blue .image-container {
    background-color: #00a3da;
}

span.purple {
    color: #812c7c;
}

span.green {
    color: #009949;
}

span.pink {
    color: #d8127d;
}

span.blue {
    color: #00a3da;
}

.purple i,
.purple svg {
    filter: invert(23%) sepia(46%) saturate(1603%) hue-rotate(267deg) brightness(99%) contrast(97%);
}

.green i,
.green svg {
    filter: invert(31%) sepia(92%) saturate(1746%) hue-rotate(133deg) brightness(91%) contrast(101%);
}

.pink i,
.pink svg {
    filter: invert(20%) sepia(92%) saturate(3968%) hue-rotate(315deg) brightness(85%) contrast(100%);
}

.blue i,
.blue svg {
    filter: invert(44%) sepia(88%) saturate(2599%) hue-rotate(166deg) brightness(99%) contrast(101%);
}

.content {
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
}

.header {
    padding: 15px 10px;
    display: flex;
}

.header h3 {
    display: inline-block;
}

.book-container,
.read-books-container .books,
.new-books-container .books{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.read-books-container .books,
.new-books-container .books {
    margin: 0;
}

.book-container .item,
.read-books-container .item,
.new-books-container .item {
    width: 20%;
    padding: 10px;
    margin: 0 2%;
}

.read-books-container .item,
.new-books-container .item {
    width: 45%;
}

.book-container img {
    /*width: 140px;*/
    width: 100%;
}

.item-content {
    position: relative;
}

.item-content img {
    cursor: pointer;
    height: 256px;
}

.read-books-container .item-content img,
.new-books-container .item-content img {
    width: 205px;
}

.item-content button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.item-content .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-content .overlay img {
    width: 100px;
    height: inherit;
    margin: 20px auto 0;
}

.item-content .overlay p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.modal-dialog {
    margin-top: 80px;
}

.modal-dialog.modal-lg {
    max-width: 1000px;
    width: calc(80% - 150px);
    height: calc(100% - 90px);
    margin-bottom: 0;
    overflow-y: auto;
}

.modal-content {
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.modal-content button {
    text-align: right;
}

.modal-content .col-6 {
    margin-top: 60px;
    padding: 20px;
}

.modal-content .preview {
    margin-top: 10px;
    position: relative;
    padding: 20px 0;
}

.modal-content .preview .image-container {
    width: 280px;
    height: 280px;
    position: relative;
    border-radius: 50%;
    margin: auto;
}

.modal-content .image {
    position: absolute;
    min-width: 210px;
    min-height: 300px;
    width: auto;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.modal-content img {
    position: relative;
    height: 100%;
}

.modal-content .btn {
    margin: 10px 0;
}

.modal-content table {
    margin-top: 20px;
    text-align: center;
}

.modal-content table img {
    width: 55px;
    height: 55px;
}

.modal-content .far.fa-check-circle {
    font-size: 1.8rem;
}

.modal-content .available-locations ul {
    list-style-type: none;
    padding: 0;
}

.modal-content .available-locations i {
    padding: 0 20px;
}

.modal-content .available-locations span {
    font-size: 1.2rem;
}

.modal-content .available-locations .fa-check-circle {
    color: #009949;
    filter: none;
}

.modal-content .available-locations .fa-times-circle {
    color: #d8232a;
    filter: none;
}

.hide {
    display: none !important;
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.quiz-container .quiz {
    position: relative;
    display: flex;
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0;
}

.quiz-container .start, .quiz-container .score {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quiz-container .block {
    height: 100%;
    /*justify-content: space-between;*/
    display: flex;
    flex-direction: column;
}

.quiz-container .block:last-child {
    flex: 1;
}

.quiz-container .block:last-child > div {
    padding: 25px;
}

.quiz-container .start button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quiz-container .quiz-img {
    width: 200px;
}

.quiz-container .quiz-img img {
    width: 100%;
    height: 265px;
    border-top-left-radius: 5px;
}

.quiz-container .timer {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    margin: auto 0;
}

.quiz-container .counter {
    font-size: 3em;
    text-align: center;
}

.quiz-container .choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
}

.quiz-container .choice {
    border: 1px solid grey;
    width: 25%;
    word-wrap: break-word;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-container .quiz-progress {
    margin-top: auto;
    margin-left: auto;
}

.quiz-container .quiz-progress .prog {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.quiz-container .score-content {
    margin: auto;
    background: white;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

.quiz-container .score-content p,
.quiz-container .score-content img,
.quiz-container .score-content .buttons {
    padding: 15px;
    margin: auto;
}

.quiz-container .score-content .buttons button {
    margin: 0 10px;
}

.profile {
    display: flex;
}

.profile > div {
    width: 50%;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.user-info > div {
    width: 100%;
}

.user-info .profile-picture,
.user-info .profile-info {
    width: 50%;
}

.user-info .modal .header {
    padding-top: 5px;
    padding-bottom: 0;
}

.profile-picture .image-container {
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture .image-container:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.profile-picture .image-container img {
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
    left: 10px;
    bottom: 0;
    right: 0;
}

.profile-picture .highest_place {
    position: relative;
}

.profile-picture .highest_place img {
    position: absolute;
    height: 100px;
    width: 75px;
    bottom: 165px;
    left: 0;
}

.profile-picture .name {
    position: absolute;
}

.user-info h2,
.user-info h5 {
    margin-left: 20px;
    margin-bottom: 15px;
}

.badges-container .center-text {
    text-align: center;
}

.badges-container .center-text th {
    padding-bottom: 0;
}

.badges-container img {
    max-height: 100px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.badges-container .info {
    margin-left: auto;
}

.badge-information {
    display: flex;
    padding: 10px
}

.badge-information img {
    height: 100px;

}

.badge-information.mr img {
    margin: 0 18px;
}

.badge-information div {
    margin-left: 20px;
}

.badge-information h5 {
    margin-left: 0;
}

.scoreboard-container {
    padding: 0 10px;
}

.scoreboard .days-left {
    margin-left: auto;
    margin-top: 10px;
}

.info {
    margin-left: 10px;
    display: inline-block;
}
