/* Oud code van "body".
    background: #eee;
*/

body {
    font-family: sans-serif;
    color: #3c3939;
}

.profile-card {
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.image-container {
    position: relative;
}

.info {
    margin-right: 16px;
}

.profile-container {
    padding: 20px;
}

.profile-card h2 {
    position: absolute;
    left: 15px;
    top: 340px;
    font-style: italic;
}

.skill-bar {
    background-color: #ead3bd;
    border-radius: 16px;
}

/*.progress-bar {*/
/*    padding: 0.1em 16px;*/
/*    border-radius: 16px;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    background-color: #e2874b;*/
/*}*/

pre.scoreboard-list {
    background-color: #ffb876;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 0;
}

pre.scoreboard-list.current {
    background-color: #28A745;
}

.scoreboard-box {
    background-color: #fca14d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;

}