<div class="item">
    <div class="item-content">
        <img class="book" src="" alt=""/>
        <button type="button" class="btn btn-primary">LEZEN</button>
        <div class="overlay hide">
            <img src="assets/img/badges/badge_3.png" alt="">
            <p><span></span> Punten</p>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-6">
                        <div class="preview">
                            <div class="image-container">
                                <div class="image">
                                    <img class="book" src="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="header">
                            <h2></h2>
                        </div>
                        <div class="info"></div>
                        <button type="button" class="btn btn-primary">Lezen</button>
                        <div class="header">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                     viewBox="0 0 358 318">
                                    <g fill="#000000" fill-rule="evenodd">
                                        <path data-v-0171850c="" fill-rule="nonzero"
                                              d="M241.51 318H22.875C10.255 318 0 307.941 0 295.558V22.451C0 10.067 10.257 0 22.875 0H241.51c12.616 0 22.865 10.066 22.865 22.451v273.107c0 12.385-10.247 22.442-22.865 22.442zM25.875 292.604H238.51l-.01-267.208H25.875v267.208z"></path>
                                        <path data-v-0171850c="" fill-rule="nonzero"
                                              d="M58.54 66c-1.7 0-3.4-.72-4.643-1.897C52.719 62.86 52 61.16 52 59.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644C61.942 65.281 60.242 66 58.54 66z"></path>
                                        <rect data-v-0171850c="" width="120" height="10" x="93" y="55" rx="5"></rect>
                                        <path data-v-0171850c="" fill-rule="nonzero"
                                              d="M58.54 116c-1.7 0-3.4-.72-4.643-1.897C52.719 112.86 52 111.16 52 109.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897zM58.54 166c-1.7 0-3.4-.72-4.643-1.897C52.719 162.86 52 161.16 52 159.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897zM58.54 216c-1.7 0-3.4-.72-4.643-1.897C52.719 212.86 52 211.16 52 209.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897zM58.54 266c-1.7 0-3.4-.72-4.643-1.897C52.719 262.86 52 261.16 52 259.46c0-1.7.72-3.401 1.897-4.644 2.485-2.42 6.802-2.42 9.288 0 1.177 1.243 1.897 2.943 1.897 4.644 0 1.7-.72 3.401-1.897 4.644-1.243 1.178-2.943 1.897-4.644 1.897z"></path>
                                        <rect data-v-0171850c="" width="120" height="10" x="93" y="105" rx="5"></rect>
                                        <rect data-v-0171850c="" width="120" height="10" x="93" y="155" rx="5"></rect>
                                        <rect data-v-0171850c="" width="120" height="10" x="93" y="205" rx="5"></rect>
                                        <rect data-v-0171850c="" width="120" height="10" x="93" y="255" rx="5"></rect>
                                    </g>
                                </svg>
                            </div>
                            <h2>Badges</h2>
                        </div>
                        <div class="info">
                            Als je het boek hebt gelezen. En de quiz gemaakt hebt kun je één van de volgende badges verdienen.
                        </div>
                        <div class="available-badges">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><img src="assets/img/badges/badge_1.png" alt="badge score 1"></td>
                                    <td><img src="assets/img/badges/badge_2.png" alt="badge score 2"></td>
                                    <td><img src="assets/img/badges/badge_3.png" alt="badge score 3"></td>
                                    <td><img src="assets/img/badges/badge_4.png" alt="badge score 4"></td>
                                    <td><img src="assets/img/badges/badge_5.png" alt="badge score 5"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="header">
                            <div class="icon">
                                <i class="far fa-check-circle fa-2x"></i>
                            </div>
                            <h2>Beschikbaar in:</h2>
                        </div>
                        <div class="available-locations">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>