.navbar-brand {
    margin: auto;
}

.content {
    margin-top: 20px;
}

.img-container img{
    max-height: 380px;
    display: block;
    margin: auto;
}

#done {
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.modal-header .col {
    text-align: center;
}

.modal-body img {
    max-width: 60px;
}

.modal-body .col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating {
    margin-top: 10px;
}