body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow-y: auto;
}

nav {
    height: 80px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
    border: 0.5px solid #eee;
}

.content {
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
}

.header {
    padding: 15px 10px;
    display: flex;
}

.header h3 {
    display: inline-block;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.books-container .item{
    width: 20%;
    padding: 10px;
    margin: 0 2%;
}

.books-container img{
    /*width: 140px;*/
    width: 100%;
}

.item-content {
    position: relative;
}

.item-content img {
    cursor: pointer;
}

.item-content button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.hide {
    display: none;
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.book{
    width: 38%;
    float: left;
    background: rgb(213, 216, 221);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.images{
    width: 30%;
    height: 30%;
}

button{
    background: rgb(255, 144, 53);
    border-radius: 7px;
    padding: 6px 6px;
    color: #fff;
    float: right;
    cursor: pointer;
}